.content
  .row
    .col-xs-3
    .col-md-6
 
      =render 'message_nav'

      %h3 Received Messages
      .panel
        =form_tag(user_mark_as_read_path, method: "put")  do
          %table.table.table-fixed-header.message-table
            %thead.header
              %tr
                %th
                  From
                %th
                  Subject
                %th
                  Sent
                %th
                  Read
            %tbody
              - @private_messages.each do |pm|
                %tr
                  %td
                    = pm.sender.name
                  %td.read-message{"data-link" => user_private_message_path(:id => pm.id)}
                    = pm.subject
                  %td
                    = pm.sent.to_s(:short)
                  %td
                    = check_box_tag( 'messages[]', pm.id, false,  id: "message_#{pm.id}", :class => 'check-show')
          .panel-footer
            = button_tag(:type => 'submit', :class => 'btn btn-default') do
              Mark as Read
              .fa.fa-check
