.content
	.row
		.col-xs-3
		.col-md-6

			%p
				.fa.fa-pencil
				= link_to 'Compose New Message', new_user_private_message_path(@user)
			%p
				= link_to 'Back to Unread Messages', user_received_path(@user)
			%p
				= link_to 'Opened Messages', user_opened_path(@user)


			%h3 Sent Messages
			%table.table.table-striped.table-fixed-header
				%thead.header
					%tr
						%th
							To
						%th
							Subject
						%th
							Sent
				%tbody
					- @private_messages.each do |pm|
						%tr{"data-link" => "user_private_message_path(:id => pm.id)"}
							%td
								= pm.receiver.name
							%td
								= pm.subject
							%td
								= pm.sent.to_s(:short)