- if user_signed_in?
  %li
    = link_to user_path(current_user.id) do
      = current_user.name
      .fa.fa-user
  -# %li
  -#   = link_to edit_user_registration_path do
  -#     edit account
  -#     .fa.fa-edit
  %li
    .btn-group.private-message-btn
      %button.btn.btn-inverse.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
        %span.fa.fa-envelope
      %ul.dropdown-menu{role: "menu"}
        %li
          %a
            = link_to user_received_path(current_user.id)  do
              Received Messages
        %li
          %a
            = link_to user_opened_path(current_user.id) do
              Opened Messages
        %li
          %a
            = link_to user_sent_path(current_user.id) do
              Sent Messages
        %li.divider
        %li
          %a
            = link_to 'Compose New Message', new_user_private_message_path(current_user), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal'}
  %li
    .btn-group.friend-btn
      %button.btn.btn-inverse.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
        %span.fa.fa-users
      %ul.dropdown-menu{role: "menu"}
        %li
          %a
            =link_to user_friends_path(current_user.id) do
              friends list
              .fa.fa-list-alt
        %li.divider
        %li
          %a pending
          %ul
            - unless current_user.pending_friends.empty?
              - current_user.pending_friends.each do |u|
                .row
                  .col-xs-12
                    %a.pedning-friend
                      =u.name
                      =link_to user_friend_path(:user_id => current_user, :id => u), :method => :put, :confirm => 'Accept friend request! Are you sure?' do
                        .fa.fa-plus-square.fa-lg.mar-right-2
                      =link_to user_friend_path(:user_id => current_user, :id => u), :method => :delete, :confirm => 'Reject friend request! Are you sure?' do
                        .fa.fa-minus-square.fa-lg.mar-right-1

            -else
              %li
                %a no pending friend requests
        %li.divider
        %li
          %a People you may know
  %li
    = link_to destroy_user_session_path, :method=>'delete' do
      log out
      .fa.fa-sign-out
- else
  %li
    = link_to new_user_session_path do
      log in
      .fa.fa-sign-in

  %li= link_to 'Sign up', new_user_registration_path
- if current_user.present? && current_user.has_role?(:admin)
  %li= link_to 'Users', users_path
